#title{
    background-color: #ff4c68;
    color: #fff;
}

h1{
    font-family: 'Montserrat', ;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight:bolder;
}

.container-fluid{
    padding: 3% 15% 5%;
}

body{
    font-family: "Montserrat";
}
.navbar{
    padding: 0 0 04.5rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding:0 18px;
    
}

.nav-link{
    font-size: 1.2rem;
    font-family: "ubuntu";
}

.Download-btn{
    margin: 5% 3% 5% 0;
}

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    left: 32%;

}

#features{
padding: 7% 15%;
background-color: #fff;
position: relative;
}

.feature-box{   
    text-align: center;
    padding: 5%;
}

h3{
    font-family: "Montserrat-Bold";
}
h2{
    font-family: "ubuntu";
    font-size: 3.5rem;
    line-height: 1.5; 
}
p{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 40px;
}
.icon:hover{
    color:#ff4c68;
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image-dog{
width: 15%;
border-radius: 100%;
margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:3% ;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-coloumn{
    padding: 3% 2%;
}


@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: #ff4c68;
    padding: 7%;

}

.bottom-line{
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-family: "ubuntu";
    font-weight: 800;
}


.bottom-button{
padding-left: 30%;
padding-top: 5%;
}


#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
 
}
